body{ 
  overflow-x: hidden;
}
main{
  
}
section#ppeumtv{
  height: 560px;
}
section#ppeumtv .wrap{
  height: 100%;
}
section#ppeumtv .wrap h2{
 
}
section#ppeumtv .wrap .vidio{
  gap: 28px;
}
section#ppeumtv .wrap .vidio a{

}
section#ppeumtv .wrap .vidio a figure{

}
section#ppeumtv .wrap .vidio a figure img{

}
section#ppeumtv .wrap .vidio a figure figcaption{
  text-align: center;
  font-size: 22px;
  padding-top: 12px;
}
