section#space {
  overflow-x: hidden;
}
section#space .wrap {
  width: 100vw;
}
section#space .wrap h2{  
 
}
section#space .wrap p{
  font-weight: 600;
  padding: 5px 0 30px;
}
section#space .wrap .background{  
  width: 100%;
  padding: 45px 0 55px;
  background: #f7f6f9;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#space .wrap .background .group{
   display: block;
   width: 100%;
}
section#space .wrap .background .group figure{
 
}
section#space .wrap .background .group figure a{
 
}
section#space .wrap .background .group figure a img {
 
}
section#space .wrap .background .group figure a figcaption {
  text-align: center;
  padding-top: 25px;
  font-size: 20px;
  font-weight: 300;
}